<div class='row'>
    <div class="col-md-6 offset-3">
        
        <% if user_signed_in? %>
        <div class="btn">
        <%= link_to 'Buat Diskusi', new_forum_thread_path, class: "btn btn-primary" %>
        </div>
        <% end %>
        
          
        <div style="clear: both"></div>
        <% @threads.each do |t| %>

         <div class="thread">
            <h4> <%= link_to t.title.titleize, forum_thread_path(t) %>
                <% if t.sticky? %>
                    <%= image_tag 'si-glyph-pin-map.svg', class: "glyph" %>
                <% end %>
            </h4> 
            <div class="meta">
               <%= t.created_at.strftime(" %d %B %Y ") %> | Oleh : <%= t.user.name %>
            </div>

            <div class="content">
                <%= truncate t.content, length: 100 %>
            </div>

            <div class="action">
                <%= link_to 'Pin it', pinit_forum_thread_path(t), class: "btn btn-warning", method: :put %>
            </div>

            <div class="count">
                <%= t.forum_posts_count %> Obrolan 
            </div>
            
            <div style="clear: both"></div>
         </div>

        <% end %>
        <div class="paginate">
        <%= will_paginate @threads, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
        </div>
    </div>
</div>